.cpl-001 .ribbon-two-column .region.region-main-content.container {
  display: none !important;
}
html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.cpl-001 .container {
  max-width: 1236px;
  width: 100%;
  margin: 0px auto;
}

.cpl-001 .hero-wrapper {
  background: url("https://res.cloudinary.com/diilhbcp9/image/upload/v1751866697/Background_erhar3.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cpl-001 .custom-block-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-radius: 12px;
  gap: 30px;
  padding: 0 114px;
  padding-bottom: 92px;
}

.cpl-001 .custom-block-content {
  width: 50%;
}

.cpl-001 .custom-block-content h2 {
  color: #fff;
  font-family: Roboto;
  font-size: 47px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.cpl-001 .highlight {
  background: linear-gradient(180deg, #ed37ce 58.06%, #4d1543 96.37%);
  background-clip: text;
  --webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 47px;

  border-left: none;
  padding: 0px;
}

.cpl-001 .custom-block-content ul {
  padding-top: 13px;
  letter-spacing: -0.3px;
}

.cpl-001 .custom-block-content li {
  margin-bottom: 17px;
  list-style: none;
  position: relative;
}

.cpl-001 .custom-block-content li::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 3px;
  width: 22px;
  height: 22px;
  background-image: url(https://res.cloudinary.com/diilhbcp9/image/upload/v1751625586/Frame_1000003327_ratlkz.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.cpl-001 .desktop {
  display: block;
}

.cpl-001 .email-signup {
  display: flex;
  align-items: center;
  border-radius: 999px;
  overflow: hidden;
  background: white;
  width: fit-content;

  gap: 93px;
  margin-top: 43px;
}

.cpl-001 .email-signup input {
  border: none;
  padding: 14px 20px;

  width: 211px;
  display: flex;
  padding: 0px 16px;

  font-size: 19px;
}

.cpl-001 .email-signup button {
  border: none;
  background-color: #d600af;
  color: white;
  padding: 14px 24px;
  font-size: 15px;

  height: 56px;
  padding: 0px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 99px;
  background: #c0069d;
}

.cpl-001 .email-signup button:hover {
  background-color: #b30097;
}

.cpl-001 .custom-block-image {
  width: 49.5%;

  position: relative;
}

.cpl-001 .custom-block-image img {
  max-width: 931px;
}

.cpl-001 .logos-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 71px;
  margin-top: -36px;
  gap: 109px;
  padding: 0px 186px 0 49px;
}

.cpl-001 .trusted-by {
  color: white;
  font-size: 16px;
  margin-top: 2px;
  width: 188px;
  margin-left: 64px;
}
.cpl-001 .rogers {
  margin-left: 5px;
  margin-right: 12px;
}
.cpl-001 .trusted-by-logos {
  margin-top: 40px;
  padding: 30px 0;
  background: transparent;
}

.cpl-001 .logos-wrapper img {
  max-height: 65px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

.cpl-001 .card-section {
  padding: 100px 0px;
  background-color: #f9f9f9;
}

.cpl-001 .card-row {
  display: flex;
  gap: 29px;

  text-align: center;
  max-width: 1458px;
  justify-content: space-between;
}

.cpl-001 .card-item-left {
  border-radius: 12px;
  text-align: center;

  max-width: 516px;
  width: 100%;
  margin: 0 30px;
  margin-top: 46px;
}

.cpl-001 .card-item-left:hover {
  transform: translateY(-5px);
}

.cpl-001 .card-subtitle-left {
  color: #d81990;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 35px;
  max-width: 499px;
}
.cpl-001 .card-section.card-row {
  content: none !important;
}
.cpl-001 .card-title-left {
  color: #282828;
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  max-width: 463px;
  width: 100%;
  margin: 0 20px;
}

.cpl-001 .card-desc-left {
  color: #585858;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 14px 9px;
  max-width: 485px;
}

.cpl-001 .card-btn-left {
  display: inline-block;
  border: 2px solid #d600af;
  color: #d600af;
  text-decoration: none;
  border-radius: 999px;
  font-weight: 600;
  padding: 12px 35px;
  border-radius: 999px;
  border: 2px solid #ff007f;
  margin-top: 16px;
}

.cpl-001 .card-btn-left:hover {
  background-color: #d600af;
  color: white;
}

.cpl-001 .card-item-right {
  background: white;

  max-width: 516px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-right: 113px;
  margin-top: 46px;
}
.cpl-001 .card-item-right:hover {
  transform: translateY(-5px);
}

.cpl-001 .card-subtitle-right {
  color: #d81990;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 33px;
  margin-left: 19px;
}

.cpl-001 .card-title-right {
  color: #282828;
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  max-width: 311px;
  width: 100%;
  margin: 0 109px;
  letter-spacing: 0px;
}

.cpl-001 .card-desc-right {
  color: #585858;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  margin: 14px 10px;
  max-width: 644px;
  letter-spacing: -0.1px;
  width: 100%;
}

.cpl-001 .card-btn-right {
  display: inline-block;
  border: 1px solid #d600af;
  color: #d600af;
  text-decoration: none;
  border-radius: 999px;
  font-weight: 600;
  transition: all 0.3s ease;
  padding: 12px 34px;
  margin-top: 17px;
}

.cpl-001 .card-btn-right:hover {
  background-color: #d600af;
  color: white;
}

@media (max-width: 1024px) {
  .cpl-001 .custom-block-wrapper {
    flex-direction: column;
    padding: 0 0;
    flex-direction: column;

    gap: 40px;
    margin-top: -22px;
  }
  .cpl-001 .card-item-left img {
    margin-bottom: 14px;
    margin-top: -107px;
    padding: 49px;
  }
  .cpl-001 .custom-block-content li {
    margin-bottom: 17px;
    list-style: none;
    position: relative;
  }
  .cpl-001 .card-subtitle-left {
    line-height: 150%;
    letter-spacing: 0.42px;

    margin-top: -35px;
  }
  .cpl-001 .custom-block-content {
    width: 100%;
    max-width: 704px;
    margin: 0 auto;
    text-align: left;
    margin-top: 9px;
  }

  .cpl-001 .custom-block-content h2 {
    font-size: 48px;
    margin-left: 0;
    max-width: 629px;
    padding-bottom: 0px;
  }

  .cpl-001 .highlight {
    font-size: 48px;
  }
  .cpl-001 .desktop {
    display: none;
  }
  .cpl-001 .tablet {
    display: block;
  }
  .cpl-001 .custom-block-content ul {
    text-align: left;
    margin: 0 auto;
    max-width: 686.6px;
    letter-spacing: -0.4px;
    top: -7px;
  }

  .cpl-001 .email-signup {
    display: flex;
    align-items: center;
    border-radius: 99px;
    background: white;
    width: 100%;
    max-width: 461px;
    gap: 0;
    margin-top: 36px;
    left: -37px;
    top: -8px;
  }

  .cpl-001 .card-title-left {
    width: 117.4%;
    max-width: 700px;
    margin-top: -2px;
    margin-left: -56px;
  }

  .cpl-001 .card-desc-left {
    width: 100%;
    max-width: 900px;
    margin-left: -17px;
    margin-top: 2px;
  }
  .cpl-001 .card-btn-left {
    margin-left: -19px;
    margin-top: -8px;
  }

  .cpl-001 .card-desc-right {
    width: 665px;
    letter-spacing: -0.5px;
    margin-left: -43px;
  }

  .cpl-001 .card-title-right {
    width: 107.4%;
    max-width: 600px;
    margin-left: -28px;
  }
  .cpl-001 .card-subtitle-right {
    margin-top: 31px;
    margin-left: -29px;
  }
  .cpl-001 .card-item-right img {
    max-width: 89.6%;
    margin-top: -28px;
    margin-left: -33px;
  }

  .cpl-001 .email-signup input {
    border: none;
    outline: none;
    padding: 0 16px;
    font-size: 17px;
    color: #333;
    flex: 1;
    height: 56px;
    border-radius: 999px 0 0 999px;
    font-family: Roboto;
    font-weight: 500;
  }

  .cpl-001 .email-signup button {
    border: none;
    background-color: #c0069d;
    color: white;
    font-size: 15px;
    cursor: pointer;
    padding: 0 30px;
    height: 56px;
    border-radius: 99px;
    font-family: Roboto;
    font-weight: 600;
    white-space: nowrap;
    transition: background-color 0.3s ease;
    background: #c0069d;
    padding: 0px 40px;
  }

  .cpl-001 .email-signup button:hover {
    background-color: #b30097;
  }

  .cpl-001 .custom-block-image {
    width: 100%;
    margin: 0 auto;
    height: auto;
    max-width: 614px;
  }

  .cpl-001 .custom-block-image img {
    width: 100%;
    max-width: 593px;

    margin-top: 24px;
    overflow: none;

    right: -33px;

    width: 100%;
    margin: 27px 47px;
  }

  .cpl-001 .logos-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 0;
    margin-top: 31px;

    gap: 36px;
    padding-right: 16px;
  }

  .cpl-001 .logos-wrapper img {
    max-height: 58px;
    object-fit: contain;
  }

  .cpl-001 .trusted-by {
    width: 188px;
    margin-left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .cpl-001 .rogers {
    /* margin: 0 auto; */
    position: relative;
    right: 0px;
  }
  .cpl-001 .card-row {
    flex-direction: column;
    align-items: center;
    /* gap: 40px; */
  }

  .cpl-001 .card-item-left {
    width: 100%;
    max-width: 610px;
    padding: 57px 30px;
    /* margin: 0 auto; */
    text-align: center;
  }
  .cpl-001 .card-item-right {
    width: 100%;
    max-width: 600px;
    padding: 40px 30px;
    margin: 0 auto;
    text-align: center;
  }
  .cpl-001 .card-btn-right {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .cpl-001 .custom-block-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    gap: 30px;
    text-align: center;
  }

  .cpl-001 .custom-block-content {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 24px 16px;
  }

  .cpl-001 .custom-block-content h2 {
    font-size: 36px;
    margin: 24px -11px;
    line-height: 120%;
    text-align: left;
  }
  .cpl-001 .hero-wrapper.container {
    content: none !important;
  }
  .cpl-001 .custom-block-content .highlight {
    font-size: 36px;

    font-weight: 700;
    display: block;
    margin-top: 8px;
  }

  .cpl-001 .custom-block-content ul {
    padding-left: 26px;
    margin-top: -40px;
    letter-spacing: 0.3px;
  }

  .cpl-001 .custom-block-content li {
    margin-bottom: 14px;
    font-size: 15px;
  }
  .cpl-001 .card-item-right img {
    max-width: 108.8%;
    margin-top: -35px;
    margin-left: -11px;
  }
  .cpl-001 .email-signup {
    display: contents;
  }

  .cpl-001 .email-signup input {
    border-radius: 99px;
    width: 106.6%;
    font-size: 18px;
    padding: 19px;
    height: auto;

    margin-top: 25px;
    margin-left: -10px;
  }

  .cpl-001 .email-signup button {
    width: 107%;
    padding: 15px;

    margin-top: 14px;
    margin-left: -11px;
  }

  .cpl-001 .email-signup button:hover {
    background-color: #b30097;
  }

  .cpl-001 .custom-block-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .cpl-001 .card-section {
    margin-top: 66px;
  }

  .cpl-001 .custom-block-image img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    top: -17px;
    left: 0px;
  }

  .cpl-001 .logos-wrapper {
    padding: 11px 0px;
    gap: 24px;
    gap: 0 0;
    margin-right: -3px;
  }
  .cpl-001 .card-item-left img {
    width: 122.6%;
    max-width: 713px;
    padding: 0 30px;
    text-align: center;
    margin-left: -32px;
  }
  .cpl-001.logos-wrapper img {
    max-height: 89px;
  }

  .cpl-001 .trusted-by {
    text-align: center;
    margin-top: -63px;
    margin-right: 6px;
  }

  .cpl-001 .card-row {
    flex-direction: column;
    gap: 30px;
  }

  .cpl-001 .card-item-left {
    width: 100%;
    padding: 1px 9px;
    margin: 0 auto;
    text-align: center;
  }

  .cpl-001 .card-item-right {
    width: 100%;
    padding: 51px 20px;
    margin: 0 auto;
  }

  .cpl-001 .card-title-left {
    font-size: 26px;
    width: 103%;
    margin-left: -5px;
    letter-spacing: 0.3px;
  }

  .cpl-001 .card-title-right {
    font-size: 26px;
    margin: 17px 0;
    width: 102.4%;
    margin-top: -2px;
    letter-spacing: 0.1px;
  }

  .cpl-001 .card-desc-left {
    font-size: 16px;
    width: 103.3%;
    margin: 0 auto;
    margin-top: 4px;
  }

  .cpl-001 .card-desc-right {
    width: 112.8%;
    margin: 0 auto;
    margin-left: -18px;
    letter-spacing: 0.3px;
    margin-top: -8.7px;
  }

  .cpl-001 .card-subtitle-left {
    font-size: 14px;
    margin-top: 14px;
  }

  .cpl-001 .card-subtitle-right {
    font-size: 14px;
    margin: 10px 0;
    margin-top: 30px;
    margin-left: -4px;
  }

  /* Separate button styles */
  .cpl-001 .card-btn-left {
    margin-left: 3px;
    margin-top: 31px;
  }

  .cpl-001.card-btn-left:hover {
    background-color: #d600af;
    color: #fff;
  }

  .cpl-001.card-btn-right {
    margin-top: 31px;
    margin-left: 25px;
  }

  .cpl-001 .card-btn-right:hover {
    background-color: #d600af;
    color: #fff;
  }
}
