
.cpl-001 .variant {
	border: 1px solid #e0e0e0;
	border-radius: 12px;
	padding: 25px 38px;
	margin-left: 40px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
	background-color: #fff;
	max-width: 100%;
}

.cpl-001 .head {
	margin: 0 0 6px;
	color: #565656;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
}

.cpl-001 .variant p {
	margin: 0;
	font-size: 14px;
	color: #555;
}

.cpl-001 .variant img {
	margin-left: 12px;
	width: 48px;
	height: 48px;
}

@media (max-width: 767px) {
	.cpl-001 .variant{
			margin-left: 0;
			 padding: 25px 18px;
	}
}

@media (max-width: 921px){
	.cpl-001 .variant{
		
	}
}