/* body.cpl-001  {
  display: none !important;
} */
/* fan-section */
body.cpl-001 .hide-title1 {
  display: none !important;
}

body.cpl-001 .hide-banner1 {
  display: none !important;
}

/* LED-Section */

.cpl-001 .hide-span1 {
  display: none !important;
}

.cpl-001 .hide-subtitle1 {
  display: none !important;
}

.cpl-001 .hide-form-title1 {
  display: none !important;
}

.cpl-001 .fixture-box {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 25px 38px;
  margin-left: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  max-width: 100%;
}

.cpl-001 .fixture-box h3 {
  margin: 0 0 6px;
  color: #565656;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
}

.cpl-001 .fixture-box p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.cpl-001 .fixture-box img {
  margin-right: 21px;
  width: 48px;
  height: 48px;
}

@media (min-width: 360px) and (max-width: 767px) {
  .cpl-001 .fixture-box {
    padding: 25px 18px;
    margin-left: 0px;
  }
  .cpl-001 .fixture-box img {
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 921px) {
  .cpl-001 .fixture-box {
    margin-left: 0;
    padding: 25px 18px;
  }
  .cpl-001 .fixture-box img {
    margin-right: 56px;
  }
}
