.cpl-001 .custom-stock-badge {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-top: 9px;
  color: #333;
  min-width: 215px;
}

.cpl-001 .stock-badge-text {
  color: #00793a;
  /* margin-left: 6px; */
}
.cpl-001 .budge {
  /* margin-top: 0; */
  height: 14px;
  width: 14px;
}

/* cart */
.cpl-001 .custom-stock-alert {
  display: flex;
  border-radius: 4px;
  background: #f2faf6;
  margin-left: 99px;
  margin-top: 13px;
  align-items: flex-start;
  /* gap: 8px; */
  font-size: 16px;
  color: #00793a;
  padding: 8px;
  max-width: 645px;
}
.cpl-001 .dot {
  width: 14px;
  margin-top: 5.2px;
  height: 14px;
}

/* Ads */
.cpl-001 .hide-target-div {
  display: none !important;
}

.cpl-001 li.hide-li {
  display: none !important;
}

@media (max-width: 767px) {
  .cpl-001.custom-stock-alert {
    display: flex;
    margin-left: 0;
    margin: 20px 0;
    align-items: flex-start;
    gap: 8px;
    font-size: 14px;
    color: #00793a;
    padding: 8px;
    /* max-width: 339px; */
    border-radius: 4px;
  }
}
