.custom-stock-badge {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  margin-top: 10px;
  color: #333;
  min-width: 215px;
}

.stock-badge-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffc400;
  box-shadow: 0 0 0 4px #fff9db;
  flex-shrink: 0;
}

.stock-badge-text {
  color: #00793a;
  margin-left: 6px;
}

/* cart */
.custom-stock-alert {
  display: flex;
  /* justify-content: space-between; */
  border-radius: 4px;
  background: #f2faf6;
  margin-left: 99px;
  margin-top: 13px;
  align-items: flex-start;
  gap: 8px;
  font-size: 16px;
  color: #00793a;
  padding: 8px;
  max-width: 645px;
}
.stock-alert-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffc400;
  box-shadow: 0 0 0 4px #fff9db;
  flex-shrink: 0;
  margin-top: 8px;
}

/* Ads */
.cpl-001 .hide-target-div {
  display: none !important;
}

.cpl-001 li.hide-li {
  display: none !important;
}

@media (max-width: 767px) {
  .custom-stock-alert {
    display: flex;
    margin-left: 0;
    margin: 20px 0;
    align-items: flex-start;
    gap: 8px;
    font-size: 14px;
    color: #00793a;
    padding: 8px;
    /* max-width: 339px; */
    border-radius: 4px;
  }
}
