.custom-stock-badge {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  margin-top: 10px;
  color: #333;
      min-width: 215px;

}

.stock-badge-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffc400;
  box-shadow: 0 0 0 5px #fff9db;
  flex-shrink: 0;
}

.stock-badge-text {
  color: #00793a;
  margin-left: 6px;
}

/* cart */
.custom-stock-alert {
  display: flex;
  background-color: #e6f4ea;
    margin-top: 13px;
  align-items: flex-start;
  gap: 13px;
  font-size: 14px;
  color: #00793a;
  padding: 10px;
}

.stock-alert-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffc400;
  box-shadow: 0 0 0 8px #fff9db;
  flex-shrink: 0;
  margin-top: 8px;
}

/* Ads */
.cpl-001 .hide-target-div {
  display: none !important;
}

.cpl-001 li.hide-li {
  display: none !important;
}
