* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
}

.cpl-container {
  max-width: 1148px;
  width: 100%;
  margin: 0 auto;
  padding: 0 13px;
}

.cpl-hero-section {
  background: url("https://res.cloudinary.com/diwhc4afs/image/upload/v1753091032/543_eywd7b.png");
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cpl-hero-section {
  /* background-color: #00875a; */
  color: white;
  padding-bottom: 98px;
}

.cpl-navbar {
  max-width: 1121px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  margin: 0 auto;
}
.cpl-hero-content {
  padding: 69px 0 30px 0;
  display: flex;
}

.hero-left {
  max-width: 636px;
}
.cpl-nav-logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.cpl-signin-btn {
  background-color: white;
  color: #00875a;
  border: none;
  padding: 12px 33px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.hero-bottom-heading {
  color: var(--Neutrals-White, #fff);

  font-family: "Expensify New Kansas";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 114.286% */
  letter-spacing: 1.3px;
}

.cpl-heading {
  color: #fffaf0;
  font-family: "Expensify New Kansas";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 3.8px;
  margin-bottom: 25px;
}

.cpl-rating {
  display: flex;
  align-items: center;
  gap: 12px;
  /* margin-top: -7px; */
  margin-bottom: 22px;
}
.rating-stars {
  height: 24px;
  margin-right: 8px;
}
.cpl-rating span {
  color: var(--Neutrals-White, #fff);
  font-family: "Expensify Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.feature-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
}

.feature-list li {
  margin-bottom: 12px;
  line-height: 1.6;
  font-size: 16px;
  letter-spacing: -0.4px;
}

.check-icon {
  width: 16px;
  vertical-align: middle;
  margin-right: 8px;
}

.cpl-hero-right-img {
  position: absolute;
  top: 50%;
  /* left: 0; */
  transform: translateY(-61%);
  right: 52px;
  /* bottom: 334px; */
}
.cpl-option-image {
  margin-bottom: 37px;
}

.img-wrapper img {
  width: 100%;
}

.cpl-feature-section {
  background: var(--Neutrals-Light-Beige, #faf8f5);
  padding: 80px 0;
}

#features-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
  margin-bottom: 30px;
}
.features {
  color: var(--Neutrals-Primary-Text, #002e22);
  text-align: center;

  /* font-family: "Expensify New Kansas"; */
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 111.111% */
  padding-bottom: 40px;
}

.feature-card {
  display: flex;
  max-width: 360px;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  border: 1px solid #e4e4e7;
  border-radius: 12px;
  padding: 32px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
  height: 100%;
  max-height: 220px;
  margin-bottom: 12px;
}

.feature-card p {
  color: var(--Neutrals-Primary-Text, #002e22);
  /* font-family: "Expensify Neue"; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 24px;
  margin-bottom: 12px;
}

.feature-card a {
  color: var(--Secondary-Blue, #0164bf);
  font-family: "Expensify Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-decoration: none;
  text-transform: capitalize;
}

.feature-card a:hover::after {
  margin-left: 8px;
}

.show-more-container {
  text-align: center;
  margin-top: 30px;
}

#toggle-btn {
  color: var(--Secondary-Blue, #0164bf);
  /* font-family: "Expensify Neue"; */
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  text-transform: capitalize;
}

.feature-card h3 {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--Neutrals-Primary-Text, #002e22);
  /* font-family: "Expensify Neue"; */
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
}

.feature-icon {
  width: 48px;
  height: 48px;
}

/* trial sectiion */

.cpl-freetrial-section {
  background-color: #fff;
}

.trial-heading {
  color: var(--Neutrals-Primary-Text, #002e22);
  text-align: center;

  /* Headlines/H-36 */
  /* font-family: "Expensify New Kansas"; */
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 111.111% */
  margin-bottom: 28px;
  letter-spacing: -0.3px;
}

.trial-tabs {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.tab {
  color: var(--Neutrals-Primary-Text, #002e22);

  /* Headlines/H-20 */
  /* font-family: "Expensify New Kansas"; */
  font-size: 20px;
  font-style: normal;
  border: 1px solid transparent;
  font-weight: 500;
  line-height: 24px; /* 120% */
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 97px;
}

.tab.active {
  background-color: #f3f1eb;
  font-weight: 600;
}

.trial-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  margin: 40px 0;
  /* margin-bottom: 30px; */
}

.card {
  border-radius: 8px;
  padding: 24px 20px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  max-width: 360px;
  height: 240px;
  width: 100%;
  border-radius: 8px;
  background: var(--Neutrals-Light-Beige, #faf8f5);
}

.card h3 {
  color: var(--Neutrals-Primary-Text, #002e22);
  /* font-family: "Expensify Neue"; */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -0.8px;
  margin-bottom: 8px;
}

.card p {
  color: var(--Neutrals-Primary-Text, #002e22);
  font-family: "Expensify Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.7px;
}
.trial-img {
  width: 48px;
  height: 64px;
  margin-bottom: 15px;
}

.button-wrapper {
  margin-top: 20px;
}

.get-started-btn {
  display: flex;
  width: 313px;
  height: 52px;
  padding: 14px 64px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* flex-shrink: 0; */
  border-radius: 52px;
  /* text-align: center; */
  color: #fff;
  text-align: center;

  /* Paragraph/Body-16 Bold */
  /* font-family: "Expensify Neue"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  background: var(--Primary-colors-Expensify-Green-100, #03d47c);
  border: none;
}

#freetrial {
  padding: 90px 0;
}

/* responsiev */
/* Tablettt */

@media (max-width: 991px) {
  .cpl-navbar {
    padding: 32px 46px 0;
    max-width: 1121px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 40px 0; */
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .cpl-heading {
    color: #fffaf0;
    font-family: "Expensify New Kansas";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 2.2px;
    margin-bottom: 25px;
  }
  #features-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
    margin-bottom: 30px;
  }
  .cpl-feature-section {
    background: var(--Neutrals-Light-Beige, #faf8f5);
    padding: 64px 46px;
  }

  #freetrial {
    padding: 64px 46px;
  }
  #freetrial {
    padding: 64px 46px;
  }

  .trial-img {
    width: 36px;
    height: 42px;
    margin-bottom: 16px;
  }
  .card p {
    color: var(--Neutrals-Primary-Text, #002e22);
    font-family: "Expensify Neue";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.7px;
  }
  .cpl-hero-right-img {
    top: unset;
    right: unset;
    transform: unset;
    position: unset;
    bottom: unset;
    left: unset;
  }

  .features {
    font-size: 28px;
  }
  .card {
    border-radius: 8px;
    padding: 16px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    max-width: 360px;
    height: 256px;
    width: 100%;
    border-radius: 8px;
    background: var(--Neutrals-Light-Beige, #faf8f5);
  }
  .cpl-hero-content {
    padding: 18px 40px 30px 40px;
    display: flex;
    flex-direction: column;
  }
  .cpl-heading {
    color: #fffaf0;
    font-family: "Expensify New Kansas";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 2.2px;
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .cpl-navbar {
    padding: 32px 22px 0;
    max-width: 1121px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 40px 0; */
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .cpl-hero-right-img {
    top: unset;
    right: unset;
    transform: unset;
    position: unset;
    bottom: unset;
    left: unset;
  }
  .cpl-hero-content {
    padding: 0 22px;
    display: flex;
    flex-direction: column;
  }
  .cpl-heading {
    color: #fffaf0;
    font-family: "Expensify New Kansas";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 2.2px;
    margin-bottom: 25px;
  }
  #features-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 7px;
    margin-bottom: 30px;
  }
  .cpl-feature-section {
    background: var(--Neutrals-Light-Beige, #faf8f5);
    padding: 64px 22px;
  }

  #freetrial {
    padding: 64px 22px;
  }
  #freetrial {
    padding: 64px 46px;
  }

  .trial-img {
    width: 36px;
    height: 42px;
    margin-bottom: 16px;
  }
  .card p {
    color: var(--Neutrals-Primary-Text, #002e22);
    font-family: "Expensify Neue";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.7px;
  }
  .cpl-hero-right-img {
    /* position: absolute; */
    top: 50%;
    /* left: 0; */
    /* transform: translateY(-61%); */
    right: 52px;
    /* bottom: 334px; */
  }

  .card {
    border-radius: 8px;
    padding: 16px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    max-width: 360px;
    height: 256px;
    width: 100%;
    border-radius: 8px;
    background: var(--Neutrals-Light-Beige, #faf8f5);
  }
  
  .cpl-heading {
    color: #fffaf0;
    font-family: "Expensify New Kansas";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 2.2px;
    margin-bottom: 25px;
  }
  .trial-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

    margin: 40px 0;
    /* margin-bottom: 30px; */
  }
}
