.gmd-001 .gmd-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.gmd-001 .gmd-total h6 {
  margin: 0;
  color: rgb(112, 112, 123);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.gmd-001 .gmd-amount{
  color: rgb(112, 112, 123);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
