.cpl-001 .free-shipping-container {
  padding: 20px;
  background: #f9f9f9;
  font-family: "Open Sans";
}

.cpl-001 .bar-track {
  height: 4px;
  background: #ddd;
  border-radius: 6px;
  position: relative;
}

.cpl-001 .bar-fill {
  height: 100%;
  width: 40%; 
  background: #f60;
  stroke-width: 5px;
  stroke: #f60;
  border-radius: 6px;
  transition: width 4s ease-in-out;
}

.cpl-001 .bar-badge {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 99px;
  background: #f60;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: left 4s ease-in-out;
  left: 40%;
}

.cpl-001.bar-badge img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.cpl-001 .free-shipping-message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #212121;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.8px;
  text-align: center;
  margin-bottom: 22px;
}
.cpl-001 .free-shipping-icon svg {
  vertical-align: middle;
}

.cpl-001 .free-shipping-message span {
  color: #212121;
  text-align: center;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.8px; /* 165% */
}


/*  */