/* .cpl-body-class .cpl-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.cpl-hero-section {
  background: url("https://res.cloudinary.com/diwhc4afs/image/upload/v1753091032/543_eywd7b.png");
}
.cpl-hero-section {
  background-color: #00875a;
  color: white;
  padding-bottom: 60px;
}

.cpl-navbar {
  max-width: 1121px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  margin: 0 auto;
}
.cpl-hero-content {
  padding: 60px 0;
  display: flex;
}
.cpl-logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.cpl-signin-btn {
  background-color: white;
  color: #00875a;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
} */

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/* body {
  font-family: "Merriweather", serif;
} */

.cpl-container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 38px 15px;
}
.cpl-hero-section {
  background: url(https://res.cloudinary.com/diwhc4afs/image/upload/v1753091032/543_eywd7b.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
padding-bottom: 55.8px;
}
/* .cpl-hero-section {
  /* background-color: #00875a; */
/* color: white; */
/* padding-bottom: 93.8px; */

.cpl-navbar {
  /* max-width: 1121px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 38.2px 4px 42px; */
  margin: 0 auto;
  /* margin-bottom: 105px; */
}
.cpl-hero-content {
  padding: 31px 0;
  display: flex;
  margin-bottom: 5.3px;
}
.hero-left {
  max-width: 636px;
}
.cpl-nav-logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
}
.hamburger {
  display: none;
}
.cpl-signin-btn {
  background-color: white;
  color: #00875a;
  border: none;
  font-weight: 700 !important;
  font-size: 16px;
  padding: 12px 32px;
  border-radius: 28px;
  font-weight: bold;
  cursor: pointer;
}
.hero-bottom-heading {
  color: var(--Neutrals-White, #fff);
  /* font-family: "Expensify New Kansas"; */
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  margin-bottom: 29.4px;
  /* padding: 0 3px; */
  /* margin-top: -3px; */
}

.cpl-heading {
  color: #fffaf0;
  /* font-family: "Expensify New Kansas"; */
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0px;
  margin-bottom: 19px;
}

.cpl-rating {
  display: flex;
  align-items: center;
  gap: 12px;
  /* margin-top: -7px; */
  margin-bottom: 25px;
}
.rating-stars {
  height: 24px;
  /* margin-right: 8px; */
}
.cpl-rating span {
  color: var(--Neutrals-White, #fff);
  font-family: "Expensify Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.cpl-rating span strong {
  font-weight: 700;
}
.feature-list {
  /* list-style: none; */
  /* padding: 0; */
  /* margin: 0; */
  margin-bottom: 23px;
}
.feature-list li {
  /* margin-bottom: 0; */
  background: url(https://res.cloudinary.com/diwhc4afs/image/upload/v1753100859/Frame_40574_ifppy7.png);
  background-repeat: no-repeat;
  line-height: 24px;
  color: #fff;
  font-family: Expensify Neue !important;
  /* align-items: center; */
  font-size: 16px;
  font-weight: 400;
  padding: 0px 28px;
  letter-spacing: 0px;
  margin-bottom: 12px;
  background-position: 0px 3px;
}
.feature-item {
  display: flex;
  align-items: flex-start;
  gap: 3px;
  margin-bottom: 15px;
}

.check-icon {
  width: 18px;
  height: 18px;
  margin-top: 4px; /* Adjust to align vertically with text */
}

.feature-item p {
  margin: 0;
  color: #fff;
  font-size: 14px;
  line-height: 1.7;
  /* letter-spacing: 1.1px; */
}

.check-icon {
  width: 16px;
  vertical-align: middle;
  margin-right: 8px;
}

.cpl-hero-right-img {
  position: absolute;
  top: 50%;
  /* left: 0; */
  transform: translateY(-60.6%);
  right: 52.1px;
}

/*2nd section  */
.cpl-feature-section {
  background: var(--Neutrals-Light-Beige, #faf8f5);
  padding: 84px 0;
}

#features-container {
    display: flex
;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px 19px;
    flex-wrap: wrap;
    /* margin-bottom: 0; */
}
.features {
  color: var(--Neutrals-Primary-Text, #002e22);
  text-align: center;
  /* font-family: "Expensify New Kansas"; */
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 0;
  letter-spacing: 0.3px;
}
.feature-card {
    /* display: flex
; */
    max-width: 321px;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border: 1px solid #e4e4e7;
    border-radius: 12px;
    padding: 32px 19px;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04); */
    /* height: 100%; */
    height: 150px;
    margin-bottom: 4px;
}
.feature-card p {
    color: var(--Neutrals-Primary-Text, #002e22);
    /* font-family: "Expensify Neue"; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 24px;
    margin-bottom: 12px;
    margin-bottom: 20px;
}
.feature-card a {
    color: var(--Secondary-Blue, #0164bf);
    font-family: "Expensify Neue";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
    text-decoration: none;
    text-transform: capitalize;
}

.feature-card a:hover::after {
  margin-left: 8px;
}

.show-more-container {
  text-align: center;
  /* margin-top: 15px; */
}

#toggle-btn {
  color: var(--Secondary-Blue, #0164bf);
  /* font-family: "Expensify Neue"; */
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  line-height: 26px;
  text-transform: capitalize;
  /* margin-right: 10px; */
}

.feature-card h3 {
    display: flex
;
    align-items: center;
    gap: 12px;
    color: var(--Neutrals-Primary-Text, #002e22);
    /* font-family: "Expensify Neue"; */
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 10px;
    /* margin: 0; */
}
.feature-icon01 {
  width: 48px;
  height: 48px;
}

/* trial sectiion */

.cpl-freetrial-section {
  background-color: #fff;
}

.trial-heading {
    color: var(--Neutrals-Primary-Text, #002e22);
    text-align: center;
    /* font-family: "Expensify New Kansas"; */
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 25px;
    letter-spacing: -0.2px;
}
.trial-tabs {
  display: flex;
  justify-content: center;
  /* max-width: 1117px; */
  gap: 12px;
  align-items: center;
  margin-bottom: 37px;
  flex-wrap: wrap;
  /* padding: 0 195px; */
}

.tab {
    color: var(--Neutrals-Primary-Text, #002e22);
    font-family: "Expensify New Kansas";
    font-size: 20px;
    text-align: center;
    font-style: normal;
    border: 1px solid #ebe6df;
    font-weight: 500;
    line-height: 24px;
    padding: 12.3px 23px;
    letter-spacing: -0.3px;
    max-width: 223px;
    width: 100%;
    text-decoration: none;
    border-radius: 97px;
}

.tab.active {
    background-color: #EBE6DF;
    /* font-weight: 600; */
    color: #002E22 !important;
}

.trial-cards {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  /* margin: 41px 0; */
  margin-bottom: 39.9px;
}
.card {
  border-radius: 8px;
  padding: 24px 20px;
  text-align: left;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); */
  max-width: 318px;
  height: 194px;
  width: 100%;
  border-radius: 8px;
  background: var(--Neutrals-Light-Beige, #faf8f5);
}
.card h3 {
    color: var(--Neutrals-Primary-Text, #002e22);
    /* font-family: "Expensify Neue"; */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    margin-bottom: 8px;
}
.card p {
  color: var(--Neutrals-Primary-Text, #002e22);
  font-family: "Expensify Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}
.trial-img {
    width: 66px;
    height: 70px;
    margin-bottom: 10px;
}

.get-started-btn {
  display: flex;
  width: 313px;
  height: 52px;
  padding: 14px 64px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* flex-shrink: 0; */
  border-radius: 52px;
  /* text-align: center; */
  color: #fff;
  text-align: center;

  /* Paragraph/Body-16 Bold */
  /* font-family: "Expensify Neue"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  background: var(--Primary-colors-Expensify-Green-100, #03d47c);
  border: none;
}

#freetrial {
  padding: 90px 0;
}

/* responsiev */
/* Tablettt */

@media (max-width: 991px) {
  .cpl-hero-section {
    /* background-color: #00875a; */
    color: white;
    padding-bottom: 60px;
  }
  .cpl-container {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 12px;
  }

  .hamburger {
    display: block;
  }

  .cpl-signin-btn {
    display: none;
  }
  .cpl-navbar {
    padding: 31px 58px 0 34px;
    /* max-width: 1121px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 40px 0; */
    margin: 0 auto;
    margin-bottom: 44.9px;
  }

  .cpl-heading {
    color: #fffaf0;
    font-family: "Expensify New Kansas";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0;
    max-width: 636px;
    margin-bottom: 20px;
  }
  .hero-bottom-heading {
    color: var(--Neutrals-White, #fff);
    /* font-family: "Expensify New Kansas"; */
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    padding: 0 32.6px;
    margin-bottom: 29px;
  }

  .img-wrapper img {
    width: 89.9%;
    padding: 0px 32px;
  }
  .cpl-option-image {
    margin-bottom: 34.3px;
  }
  .hero-left {
    max-width: unset;
  }
  .feature-list {
    list-style: none;
    padding: 0;
    max-width: 636px;
    margin: 0;
    margin-bottom: 23.2px;
  }
  .feature-item {
    display: flex;
    align-items: flex-start;
    gap: 3px;
    margin-bottom: 12.7px;
  }
  .feature-item p {
    margin: 0;
    color: #fff;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.9px;
  }

  .feature-list li {
    margin-bottom: 12px;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.2px;
  }
  .cpl-hero-content {
    padding: 0px 0 0 33.7px;
    display: flex;
    flex-direction: column;
  }
  .cpl-hero-right-img {
    top: unset;
    right: unset;
    transform: unset;
    position: unset;
    bottom: unset;
    left: unset;
    margin-bottom: 37px;
  }

  .cpl-feature-section {
    /* background: var(--Neutrals-Light-Beige, #faf8f5); */
    padding: 64px 33px;
  }
  .features {
    color: var(--Neutrals-Primary-Text, #002e22);
    text-align: center;
    /* font-family: "Expensify New Kansas"; */
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 21.4px;
    letter-spacing: 0.3px;
  }
  #features-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px 0px;
    margin-bottom: 0;
  }
  .feature-card {
    max-width: 286px;
    width: 100%;
    flex-direction: column;
    gap: 7px;
    padding: 32px 20px;
    height: 100%;
    max-height: 153px;
    margin-bottom: 10px;
  }
  .feature-card h3 {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 5px;
  }
  .feature-card p {
    /* font-family: "Expensify Neue"; */
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    line-height: 24px;
    margin-bottom: 12px;
    margin-bottom: 10px;
  }
  .show-more-container {
    text-align: center;
    margin-top: 27px;
    margin-left: 8px;
  }
  #freetrial {
    padding: 88px 0px;
  }

  .trial-img {
    width: 36px;
    height: 42px;
    margin-bottom: 21px;
  }
  .trial-heading {
    color: var(--Neutrals-Primary-Text, #002e22);
    text-align: center;
    /* font-family: "Expensify New Kansas"; */
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 19px;
    letter-spacing: -0.2px;
  }
  .card p {
    /* color: var(--Neutrals-Primary-Text, #002e22); */
    /* font-family: "Expensify Neue"; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.7px;
    letter-spacing: 0px;
  }

  .features {
    font-size: 28px;
  }
  .card {
    border-radius: 8px;
    padding: 16px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    max-width: 187px;
    height: 224px;
    width: 100%;
    border-radius: 8px;
    background: var(--Neutrals-Light-Beige, #faf8f5);
  }
  .trial-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.7px;
    /* margin: 41px 0; */
    margin-bottom: 36px;
    padding: 2px 37px 2px 44px;
  }
  .card h3 {
    color: var(--Neutrals-Primary-Text, #002e22);
    /* font-family: "Expensify Neue"; */
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.2px;
    margin-bottom: 8px;
  }
  .button-wrapper {
    margin-top: 0;
    margin-right: 3px;
    /* max-width: 203px; */
  }
  .tab {
    /* font-family: "Expensify New Kansas"; */
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .cpl-navbar {
    padding: 32px 33px 0 8px;
    max-width: 1121px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 40px 0; */
    margin: 0 auto;
    margin-bottom: 44px;
  }
  .cpl-hero-section {
    /* background-color: #00875a; */
    color: white;
    padding-bottom: 7px;
  }
  .cpl-hero-right-img {
    top: unset;
    right: unset;
    transform: unset;
    position: unset;
    bottom: unset;
    left: unset;
  }
  .cpl-hero-content {
    padding: 0 9.6px;
    display: flex;
    flex-direction: column;
  }
  .cpl-heading {
    color: #fffaf0;
    font-family: "Expensify New Kansas";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0px;
    margin-bottom: 22px;
  }
  .hero-bottom-heading {
    color: var(--Neutrals-White, #fff);
    /* font-family: "Expensify New Kansas"; */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    margin-bottom: 18px;
    padding: 0 9.6px;
  }
  .cpl-option-image {
    margin-bottom: 25.8px;
  }
  .feature-list {
    list-style: none;
    padding: 0;
    max-width: 636px;
    margin: 0;
    margin-bottom: 34.2px;
  }
  .feature-item {
    display: flex;
    align-items: flex-start;
    gap: 3px;
    margin-bottom: 15.7px;
  }
  .feature-item p {
    margin: 0;
    color: #fff;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: -5px;
    letter-spacing: 1px;
  }
  .cpl-rating {
    display: flex;
    align-items: center;
    gap: 9.6px;
    /* margin-top: -7px; */
    margin-bottom: 21.9px;
  }
  .cpl-rating span {
    color: var(--Neutrals-White, #fff);
    font-family: "Expensify Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  .rating-stars {
    height: 21px;
    /* margin-right: 8px; */
  }
  .img-wrapper img {
    width: 88.6%;
    padding: 0px 7.5px;
  }

  #features-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 11px;
    margin-bottom: 30px;
  }
  .cpl-feature-section {
    background: var(--Neutrals-Light-Beige, #faf8f5);
    padding: 64px 5px;
  }
  .feature-card p {
    /* font-family: "Expensify Neue"; */
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 12px;
    margin-bottom: 10px;
  }
  .feature-card {
    max-width: 281px;
    width: 100%;
    flex-direction: column;
    gap: 7px;
    padding: 32px 22px;
    height: 100%;
    max-height: 153px;
    margin-bottom: 10px;
  }
  .feature-card h3 {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 3px;
  }
  .img-wrapper {
    margin-bottom: 50px;
  }

  #freetrial {
    padding: 64px 0;
  }

  .trial-img {
    width: 36px;
    height: 42px;
    margin-bottom: 16px;
  }
  .card p {
    color: var(--Neutrals-Primary-Text, #002e22);
    font-family: "Expensify Neue";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.7px;
  }
  .cpl-hero-right-img {
    /* position: absolute; */
    top: 50%;
    /* left: 0; */
    /* transform: translateY(-61%); */
    right: 52px;
    /* bottom: 334px; */
  }

  .card {
    border-radius: 8px;
    padding: 16px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    max-width: 360px;
    height: 210px;
    width: 100%;
    border-radius: 8px;
    background: var(--Neutrals-Light-Beige, #faf8f5);
  }

  .trial-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* gap: 20px; */
    padding: 2px 15px 2px 16px;

    margin: 40px 0;
    /* margin-bottom: 30px; */
  }
}

@media (max-width: 1390px) {
  .cpl-hero-content {
    /* padding: 32px 0; */
    display: flex;
    gap: 17px;
    align-items: center;
  }
  .cpl-hero-right-img {
    position: unset;
    align-items: center;
    width: 430px;
    top: 50.1%;
    /* left: 0; */
    transform: translateY(-10.8%);
    right: 53.1px;
  }
  #features-container {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px 17px;
    flex-wrap: wrap;
    /* margin-bottom: 0; */
    justify-content: center;
  }
  .cpl-navbar {
    /* max-width: 1121px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 38.2px 4px 42px; */
    margin: 0 auto;
    padding: 0 12px;
    /* margin-bottom: 105px; */
  }

  .img-wrapper {
    padding: 0 4px;
    max-width: 980px;
  }
}
@media (max-width: 1120px) {
  .cpl-hero-right-img {
    position: unset;
    align-items: center;
    width: 331px;
    top: 50.1%;
    /* left: 0; */
    transform: translateY(-10.8%);
    right: 53.1px;
  }
  .cpl-navbar {
    max-width: 1070px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 38.2px 4px 42px; */
    margin: 0 auto;
    padding: 0 12px;

    /* margin-bottom: 105px; */
  }
  #features-container {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px 17px;
    flex-wrap: wrap;
    /* margin-bottom: 0; */
    justify-content: center;
  }
  .trial-cards {
    display: flex
;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    /* margin: 41px 0; */
    justify-content: center;
    margin-bottom: 39.9px;
    padding: 0 15px;
}
}

