.cpl-container {
  max-width: 1151px;
  width: 100%;
  margin: 0 auto;
  padding: 38px 15px;
  box-sizing: border-box;
}
.cpl-hero-section {
  background: url(https://res.cloudinary.com/diwhc4afs/image/upload/v1753091032/543_eywd7b.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 55.8px;
}
/* .cpl-hero-section {
  /* background-color: #00875a; */
/* color: white; */
/* padding-bottom: 93.8px; */

.cpl-navbar {
  /* max-width: 1121px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 38.2px 4px 42px; */
  margin: 0 auto;
  /* margin-bottom: 105px; */
}
.cpl-hero-content {
  padding: 31px 0;
  display: flex;
  margin-bottom: 5.3px;
}
.hero-left {
  max-width: 636px;
}
.cpl-nav-logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
}
.hamburger {
  display: none;
}
.cpl-signin-btn {
  background-color: white;
  color: #00875a;
  border: none;
  font-weight: 700 !important;
  font-size: 16px;
  padding: 12px 32px;
  border-radius: 28px;
  font-weight: bold;
  cursor: pointer;
}
.hero-bottom-heading {
  color: var(--Neutrals-White, #fff);
  /* font-family: "Expensify New Kansas"; */
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  margin-bottom: 29.4px;
  /* padding: 0 3px; */
  /* margin-top: -3px; */
}

.cpl-heading {
  color: #fffaf0;
  /* font-family: "Expensify New Kansas"; */
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0px;
  margin-bottom: 19px;
}

.cpl-rating {
  display: flex;
  align-items: center;
  gap: 12px;
  /* margin-top: -7px; */
  margin-bottom: 25px;
}
.rating-stars {
  height: 24px;
  /* margin-right: 8px; */
}
.cpl-rating span {
  color: var(--Neutrals-White, #fff);
  font-family: "Expensify Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.cpl-rating span strong {
  font-weight: 700;
}
.feature-list {
  /* list-style: none; */
  /* padding: 0; */
  /* margin: 0; */
  margin-bottom: 23px;
}
.feature-list li {
  /* margin-bottom: 0; */
  background: url(https://res.cloudinary.com/diwhc4afs/image/upload/v1753100859/Frame_40574_ifppy7.png);
  background-repeat: no-repeat;
  line-height: 24px;
  color: #fff;
  font-family: Expensify Neue !important;
  /* align-items: center; */
  font-size: 16px;
  font-weight: 400;
  padding: 0px 28px;
  letter-spacing: 0px;
  margin-bottom: 12px;
  background-position: 0px 3px;
}
.feature-item {
  display: flex;
  align-items: flex-start;
  gap: 3px;
  margin-bottom: 15px;
}

.check-icon {
  width: 18px;
  height: 18px;
  margin-top: 4px; /* Adjust to align vertically with text */
}

.feature-item p {
  margin: 0;
  color: #fff;
  font-size: 14px;
  line-height: 1.7;
  /* letter-spacing: 1.1px; */
}

.check-icon {
  width: 16px;
  vertical-align: middle;
  margin-right: 8px;
}

.cpl-hero-right-img {
  position: absolute;
  top: 50%;
  /* left: 0; */
  transform: translateY(-60.6%);
  right: 52.1px;
}

/*2nd section  */
.cpl-feature-section {
  background: var(--Neutrals-Light-Beige, #faf8f5);
  padding: 84px 0;
}

#features-container {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px 19px;
  flex-wrap: wrap;
  /* margin-bottom: 0; */
}
.features {
  color: var(--Neutrals-Primary-Text, #002e22);
  text-align: center;
  /* font-family: "Expensify New Kansas"; */
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 0;
  letter-spacing: 0.3px;
}
.feature-card {
  /* display: flex
; */
  max-width: 321px;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  border: 1px solid #e4e4e7;
  border-radius: 12px;
  padding: 32px 19px;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04); */
  /* height: 100%; */
  height: 150px;
  margin-bottom: 4px;
}
.feature-card p {
  color: var(--Neutrals-Primary-Text, #002e22);
  /* font-family: "Expensify Neue"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
  margin-bottom: 12px;
  margin-bottom: 20px;
}
.feature-card a {
  color: var(--Secondary-Blue, #0164bf);
  font-family: "Expensify Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-decoration: none;
  text-transform: capitalize;
}

.feature-card a:hover::after {
  margin-left: 8px;
}

.show-more-container {
  text-align: center;
  /* margin-top: 15px; */
}

#toggle-btn {
  color: var(--Secondary-Blue, #0164bf);
  /* font-family: "Expensify Neue"; */
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  line-height: 26px;
  text-transform: capitalize;
  /* margin-right: 10px; */
}

.feature-card h3 {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--Neutrals-Primary-Text, #002e22);
  /* font-family: "Expensify Neue"; */
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 10px;
  /* margin: 0; */
}
.feature-icon01 {
  width: 48px;
  height: 48px;
}

/* trial sectiion */

.cpl-freetrial-section {
  background-color: #fff;
}

.trial-heading {
  color: var(--Neutrals-Primary-Text, #002e22);
  text-align: center;
  /* font-family: "Expensify New Kansas"; */
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 25px;
  letter-spacing: -0.2px;
}
.trial-tabs {
  display: flex;
  justify-content: center;
  /* max-width: 1117px; */
  gap: 12px;
  align-items: center;
  margin-bottom: 37px;
  flex-wrap: wrap;
  /* padding: 0 195px; */
}

.tab {
  color: var(--Neutrals-Primary-Text, #002e22);
  font-family: "Expensify New Kansas";
  font-size: 20px;
  text-align: center;
  font-style: normal;
  border: 1px solid #ebe6df;
  font-weight: 500;
  line-height: 24px;
  padding: 12.3px 23px;
  letter-spacing: -0.3px;
  max-width: 223px;
  width: 100%;
  text-decoration: none;
  border-radius: 97px;
}

.tab.active {
  background-color: #ebe6df;
  /* font-weight: 600; */
  color: #002e22 !important;
}

.trial-cards {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 23px;
  /* max-width: 1145px; */
  padding: 0 16px;
  /* margin: 41px 0; */
  margin-bottom: 37px;
}
.card {
  border-radius: 8px;
  padding: 24px 20px;
  text-align: left;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); */
  max-width: 361px;
  height: 196px;
  width: 100%;
  border-radius: 8px;
  background: var(--Neutrals-Light-Beige, #faf8f5);
}
.card h3 {
  color: var(--Neutrals-Primary-Text, #002e22);
  /* font-family: "Expensify Neue"; */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  margin-bottom: 8px;
}
.card p {
  color: var(--Neutrals-Primary-Text, #002e22);
  font-family: "Expensify Neue";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.trial-img {
  width: 66px;
  height: 70px;
  margin-bottom: 10px;
}

.get-started-btn {
  display: flex;
  width: 313px;
  height: 52px;
  padding: 14px 64px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* flex-shrink: 0; */
  border-radius: 52px;
  /* text-align: center; */
  color: #fff;
  text-align: center;

  /* Paragraph/Body-16 Bold */
  /* font-family: "Expensify Neue"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  background: var(--Primary-colors-Expensify-Green-100, #03d47c);
  border: none;
}

#freetrial {
  padding: 90px 0;
}

/* responsiev */
/* Tablettt */

@media (min-width: 1500px) {
  .cpl-hero-right-img {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 0; */
    transform: translateY(16.4%);
    right: 0;
    position: relative;
    overflow: hidden;
    /* max-width: unset; */
    /* width: 1029px; */
  }
  #features-container {
    display: flex;
    gap: 14px 12px;
    flex-wrap: wrap;
    /* margin-bottom: 0; */
    /* justify-content: center; */
  }
}
@media (max-width: 1390px) {
  .cpl-hero-content {
    /* padding: 32px 0; */
    display: flex;
    gap: 17px;
    align-items: center;
  }
  .cpl-hero-right-img {
    position: unset;
    align-items: center;
    width: 430px;
    top: 50.1%;
    /* left: 0; */
    transform: translateY(-10.8%);
    right: 53.1px;
  }
  .cpl-hero-section {
    background: url(https://res.cloudinary.com/diwhc4afs/image/upload/v1753091032/543_eywd7b.png);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 55.8px;
    padding: 15px;
  }
  .feature-card {
    /* display: flex
; */
    max-width: 313px;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border: 1px solid #e4e4e7;
    border-radius: 12px;
    padding: 32px 19px;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04); */
    /* height: 100%; */
    height: 150px;
    margin-bottom: 4px;
  }
  #features-container {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px 20px;
    flex-wrap: wrap;
    /* margin-bottom: 0; */
    margin-top: 12px;
  }
  .cpl-freetrial-section {
    background-color: #fff;
    padding: 0 15px;
  }
  /* #features-container {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px 17px;
    flex-wrap: wrap;
    /* margin-bottom: 0; 
    justify-content: center;
  } */
  /* .cpl-navbar {
    /* max-width: 1121px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 38.2px 4px 42px; 
    margin: 0 auto;
    padding: 0 12px;
    /* margin-bottom: 105px; */
  /* } */

  /* .img-wrapper {
    padding: 0 4px;
    max-width: 980px;
  } */
}
@media (max-width: 1120px) {
  .cpl-hero-right-img {
    position: unset;
    align-items: center;
    width: 331px;
    top: 50.1%;
    /* left: 0; */
    transform: translateY(-10.8%);
    right: 53.1px;
  }
  .feature-card {
    /* display: flex
; */
    max-width: 265px;
    width: 100%;
  }

  #features-container {
    display: flex;
    padding: 0 23px;
    /* margin-bottom: 0; */
  }
  /* .cpl-navbar {
    max-width: 1070px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 38.2px 4px 42px; 
    margin: 0 auto;
    padding: 0 12px;

    /* margin-bottom: 105px; */
  /* } */
  /* #features-container {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px 17px;
    flex-wrap: wrap;
    /* margin-bottom: 0; */
  /* justify-content: center; */
  /* } */
}

@media (max-width: 991px) {
  .cpl-hero-section {
    /* background-color: #00875a; */
    color: white;
    padding-bottom: 43px;
  }
  .cpl-container {
    max-width: 725px;
    width: 100%;
    margin: 0 auto;
    padding: 14px 25px;
  }

  .hamburger {
    display: block;
  }

  .cpl-signin-btn {
    display: none;
  }
  .cpl-navbar {
    /* padding: 31px 58px 0 34px; */
    /* max-width: 1121px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 17px 0px 0px; */
    margin: 0 auto;
    /* margin-bottom: 44.9px; */
  }
  .cpl-rating {
    display: flex;
    align-items: center;
    gap: 11px;
    /* margin-top: -7px; */
    margin-bottom: 25px;
  }

  .cpl-heading {
    color: #fffaf0;
    font-family: "Expensify New Kansas";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0;
    max-width: 636px;
    margin-bottom: 20px;
  }
  .hero-bottom-heading {
    color: var(--Neutrals-White, #fff);
    /* font-family: "Expensify New Kansas"; */
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    /* padding: 0 32.6px; */
    margin-bottom: 29px;
  }

  .img-wrapper img {
    width: 100.9%;
    /* padding: 0px 32px; */
  }
  .cpl-option-image {
    margin-bottom: 18.3px;
  }
  .hero-left {
    max-width: unset;
  }
  .feature-list {
    list-style: none;
    padding: 0;
    /* max-width: 636px; */
    margin: 0;
    margin-bottom: 22.2px;
  }
  .feature-item {
    display: flex;
    align-items: flex-start;
    gap: 3px;
    margin-bottom: 12.7px;
  }
  .feature-item p {
    margin: 0;
    color: #fff;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.9px;
  }

  .feature-list li {
    margin-bottom: 14px;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0px;
  }
  .cpl-hero-content {
    padding: 14px 0 0;
    display: flex;
    flex-direction: column;
  }
  .cpl-hero-right-img {
    top: unset;
    right: unset;
    transform: unset;
    position: unset;
    width: 100%;
    bottom: unset;
    left: unset;
    margin-bottom: 32px;
  }

  .cpl-feature-section {
    /* background: var(--Neutrals-Light-Beige, #faf8f5); */
    padding: 64px 33px;
  }
  .features {
    color: var(--Neutrals-Primary-Text, #002e22);
    text-align: center;
    /* font-family: "Expensify New Kansas"; */
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 21.4px;
    letter-spacing: 0.3px;
  }
  #features-container {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 14px;
    margin-bottom: 0px;
    padding: 14px 11px !important;
  }
  .feature-card {
    max-width: 289px;
    width: 100%;
    flex-direction: column;
    height: 100%;
    max-height: 153px;
    margin-bottom: 8px;
    gap: 7px;
    padding: 34px 21px;
  }
  .feature-card h3 {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 10px;
    gap: 12px;
  }
  .feature-card p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.9px;
    line-height: 24px;
    margin-bottom: 19px;
  }
  .show-more-container {
    text-align: center;
    margin-top: 12px;
    /* margin-left: 8px; */
  }
  #freetrial {
    padding: 88px 0px;
  }
  .trial-tabs {
    display: flex;
    justify-content: center;
    /* max-width: 1117px; */
    gap: 8px;
    align-items: center;
    margin-bottom: 37px;
    /* flex-wrap: wrap; */
    /* padding: 0 195px; */
  }
  .trial-img {
    width: 57px;
    height: 50px;
    margin-bottom: 13px;
  }
  .trial-heading {
    color: var(--Neutrals-Primary-Text, #002e22);
    text-align: center;
    /* font-family: "Expensify New Kansas"; */
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 18px;
    letter-spacing: -0.2px;
  }
  .card p {
    /* color: var(--Neutrals-Primary-Text, #002e22); */
    /* font-family: "Expensify Neue"; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.3px;
    letter-spacing: -0.2px;
  }
  .features {
    font-size: 28px;
  }
  .card {
    border-radius: 8px;
    padding: 21px 16px;
    text-align: left;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); */
    max-width: 181px;
    height: 213px;
    width: 100%;
    border-radius: 8px;
    background: var(--Neutrals-Light-Beige, #faf8f5);
  }
  .trial-cards {
    display: flex;
    gap: 17.1px;
    /* margin: 41px 0; */
    margin-bottom: 44px;
    padding: 0 23px;
    /* max-width: 688px; */
    /* padding: 2px 37px 2px 44px; */
  }
  .card h3 {
    color: var(--Neutrals-Primary-Text, #002e22);
    /* font-family: "Expensify Neue"; */
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.5px;
    margin-bottom: 8px;
  }
  .button-wrapper {
    margin-top: 0;
    margin-right: 3px;
    /* max-width: 203px; */
  }

  .tab {
    color: var(--Neutrals-Primary-Text, #002e22);
    font-family: "Expensify New Kansas";
    font-size: 15px;
    text-align: center;
    font-style: normal;
    border: 1px solid #ebe6df;
    font-weight: 500;
    line-height: 24px;
    padding: 10.3px 25px;
    letter-spacing: -0.1px;
    max-width: 171px;
    width: 100%;
    text-decoration: none;
    border-radius: 97px;
  }
}
@media (max-width: 767px) {
  .cpl-container {
    width: 100%;
    margin: 0 auto;
    padding: 15px 7px;
  }
  .cpl-navbar {
    /* padding: 32px 33px 0 8px; */
    /* max-width: 1121px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 40px 0; */
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .cpl-hero-section {
    /* background-color: #00875a; */
    color: white;
    padding-bottom: 7px;
  }
  .cpl-hero-right-img {
    top: unset;
    right: unset;
    transform: unset;
    position: unset;
    bottom: unset;
    left: unset;
  }
  .cpl-hero-content {
    padding: 0 0.6px;
    display: flex;
    flex-direction: column;
  }
  .cpl-heading {
    color: #fffaf0;
    font-family: "Expensify New Kansas";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.1px;
    margin-bottom: 20px;
  }
  .hero-bottom-heading {
    color: var(--Neutrals-White, #fff);
    /* font-family: "Expensify New Kansas"; */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    margin-bottom: 18px;
    /* padding: 0 9.6px; */
  }
  .cpl-option-image {
    margin-bottom: 25.8px;
  }
  .feature-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
  }
  .feature-list li {
    margin-bottom: 8px;
    line-height: 1.6;
    font-size: 16px;
    letter-spacing: -0.3px;
    background-position: 0px 6px;
  }
  .feature-item {
    display: flex;
    align-items: flex-start;
    gap: 3px;
    margin-bottom: 15.7px;
  }
  .feature-item p {
    margin: 0;
    color: #fff;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: -5px;
    letter-spacing: 1px;
  }
  .cpl-rating {
    display: flex;
    align-items: center;
    gap: 9.6px;
    /* margin-top: -7px; */
    margin-bottom: 21.9px;
  }
  .cpl-rating span {
    color: var(--Neutrals-White, #fff);
    font-family: "Expensify Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  .rating-stars {
    height: 21px;
    /* margin-right: 8px; */
  }
  .img-wrapper img {
    width: 88.6%;
    padding: 0px 7.5px;
  }

  #features-container {
    display: flex;
    /* grid-template-columns: repeat(1, 1fr); */
    /* gap: 11px; */
    justify-content: center;
    margin-bottom: 30px;
  }
  .cpl-feature-section {
    background: var(--Neutrals-Light-Beige, #faf8f5);
    padding: 64px 5px;
  }
  .feature-card p {
    /* font-family: "Expensify Neue"; */
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 12px;
    margin-bottom: 10px;
  }
  .feature-card {
    max-width: 281px;
    width: 100%;
    flex-direction: column;
    gap: 7px;
    padding: 32px 22px;
    height: 100%;
    max-height: 153px;
    margin-bottom: 10px;
  }
  .feature-card h3 {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 3px;
  }
  .img-wrapper {
    margin-bottom: 50px;
  }

  #freetrial {
    padding: 64px 0;
  }

  .trial-img {
    width: 36px;
    height: 42px;
    margin-bottom: 16px;
  }
  .card p {
    color: var(--Neutrals-Primary-Text, #002e22);
    font-family: "Expensify Neue";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.7px;
  }
  .cpl-hero-right-img {
    /* position: absolute; */
    top: 50%;
    /* left: 0; */
    /* transform: translateY(-61%); */
    right: 52px;
    /* bottom: 334px; */
  }

  .card {
    border-radius: 8px;
    padding: 16px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    max-width: 275px;
    height: 210px;
    width: 100%;
    border-radius: 8px;
    background: var(--Neutrals-Light-Beige, #faf8f5);
  }

  .trial-cards {
    align-items: center;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    /* margin-bottom: 30px; */
  }
}

.sign-up-logos,
.content-panel--homepage {
  display: none;
}
