body {
  font-family: "Source Sans Pro";
}

/* animation */

.gmd-button-parent {
  position: relative;
  display: inline-block;
}

.gmd-button-parent::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 12px;
  background: conic-gradient(#28a745 0deg, transparent 0deg);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
  z-index: 1;
}

.gmd-button-parent.gmd-click-animate::after {
  opacity: 1;
  animation: gmd-ring-animation 1s linear forwards;
}

@keyframes gmd-ring-animation {
  0% {
    background: conic-gradient(#28a745 0deg, transparent 0deg);
    opacity: 1;
  }
  100% {
    background: conic-gradient(#28a745 360deg, transparent 0deg);
    opacity: 0;
  }
}

.gmd-001 .gmd-custom-sticky-row {
  max-width: 1250px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#gmd-custom-sticky-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  pointer-events: auto;
  box-shadow: 0 3px 10px 2px rgba(170, 167, 167, 0.75);
}

#gmd-custom-sticky-bar .gmd-sticky-border {
  margin-top: 10px;
}

.gmd-001 .gmd-sticky-title-wrap h2 {
  margin-bottom: 6px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}
.gmd-001 .gmd-sticky-block .regular-price{
      font-size: 1.375rem;

} 

.gmd-001 .gmd-sticky-empty-space {
  display: flex;
  justify-content: end;
  margin-top: unset;
}

.gmd-001 #modal_addToCart .modal-dialog {
  display: none;
}

.gmd-001 .product-price-add-to-cart button {
  width: 72px !important;
  height: 38px !important;
}

.gmd-001 .product-name-minimal .stock-status {
  margin-bottom: 8px;
}
.gmd-001 .open-bundle-modal {
  display: flex;
  gap: 4px;
  margin-bottom: 16px;
  align-items: center;
}
.gmd-001 .open-bundle-modal img {
  margin-top: 2px;
}

/* Animation */
.gmd-001 .gmd-check-icon {
  display: inline-block;
  opacity: 0;
  width: 16.3px;
  height: 12.025px;
  flex-shrink: 0;
  transform: scale(0.5) rotate(-20deg);
}

.gmd-001 .gmd-check-icon.animate-in {
  animation: popIn 0.4s ease forwards;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(-20deg);
  }
  60% {
    opacity: 1;
    transform: scale(1.2) rotate(5deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.gmd-001 #gmd-bundle .gmd-bundle-item {
  flex: 0 0 33.33% !important;
  max-width: 33.33% !important;
}

.gmd-001 #chat-popup {
  display: none !important;
}

.gmd-001 .gmd-sticky-border {
  border-bottom: 2px solid #ddd;

  margin-right: calc(-50vw + 50%);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-top: 10px;
}
.gmd-001 .main-container {
  margin-top: 2rem !important;
}

.gmd-001 .product-card-minimal {
  padding: 16px !important;
  max-width: 376px !important;
}
.gmd-001 .product-card-minimal .product-name-minimal {
  padding: 8px 0;
}

body.modal-open {
  overflow: auto !important;
  padding-right: 0 !important;
}

.gmd-001.modal-disabled .modal,
.gmd-001.modal-disabled .modal-backdrop,
.gmd-001.modal-disabled .modal.show,
.gmd-001.modal-disabled .modal-backdrop.show {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

.gmd-001 #gmd-bundle {
  margin-top: 31px;
}
.gmd-check-icon {
  font-size: 24px;
  color: #28a745;
  font-weight: bold;
  display: inline-block;
  line-height: 1;
}

.gmd-checked {
  background-color: #e6f9ee !important;
  border-color: #28a745 !important;
  padding: 0.375rem 1.25rem;
}

.gmd-001 .see-more-btn-wrapper {
  text-align: center;
  margin-top: 10px;
}
.gmd-001 .img-fluid {
  max-width: 100%;
  height: 92px;
  object-fit: fill;
}

.gmd-001 .gmd-see-more-link {
  color: #0071d4;
  text-decoration: underline;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: normal;
  padding: 0;
  display: inline-block;
}
.gmd-001 .product-price-add-to-cart {
  padding-top: 16px;
  margin-top: auto !important;
  bottom: 0px;
  padding-top: 16px;
  border-top: 1px solid #eee;
}
/* for sticky bar desk */
@media (max-width: 1198px) {
  .gmd-001 .gmd-sticky-desk {
    top: 56px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .gmd-001 #gmd-bundle .col-xl-3 {
    flex: unset !important;
    max-width: unset !important;
  }
  .gmd-001 .gmd-sticky-desk {
    position: unset;
  }

  .gmd-001 #gmd-primary-button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: white;
  }

  .gmd-001 .main-container {
    padding-bottom: 40px;
  }

  .gmd-001 #gmd-primary-button .btn {
    width: 100%;
    border-radius: 60px;
    background-color: #00a24d;
  }

  .gmd-001 .btn {
    padding: 7px 13px;
    font-size: 16px;
  }

  .gmd-001 .page-title {
    margin-bottom: 40px;
  }
}
